extends layout

block content
	h1= title
	p!= sub

	img(src='/img/avo.jpg',width='240px',style='padding-left:50px')

	form(action='/update', method='post', data-parsley-validate, class='form-horizontal')
		div(class='form-group')
			div(class='row')
				label(for='email_address') Email: 
					input(class='form-control',id='email_address',type='email',value='',placeholder='@',name='email_address', data-parsley-type='email')
				label(for='email')   Use Email? 
					input(id='email',type='checkbox',value='True',name='email')
		div(class='form-group')
			div(class='row')
				label(for='phone_number') Phone: 
					input(class='form-control',id='phone_number',type='text',value='',placeholder='(***)-***-***',name='phone_number', data-parsley-pattern="^((\\([0-9]{3}\\)\\s|\\([0-9]{3}\\)-|[0-9]{3}-|[0-9]{3})([0-9]{3}-|[0-9]{3})([0-9]{4})(?:,|))+")
				label(for='phone') Use Phone? 
					input(id='phone',type='checkbox',value='True',name='phone')
		div(class='form-group')
			div(class='row')
				label(for='hashtag') Twitter: 
					input(class='form-control',id='hashtag',type='text',value='',placeholder='#',name='hashtag')
				label(for='tweet') Use Twitter? 
					input(id='tweet',type='checkbox',value='True',name='tweet')
		div(class='row col-lg-6')
			input(class='btn.block btn-default btn-lg btn',type='submit',value='Submit',data-transition='fade',data-theme='b')

	script(src='/js/jquery.min.js')
	script(src='/js/parsley.min.js')

