extends layout

block content
	h1= title
	p Welcome to #{title}

	div
		form(action='/update', method='post')
			div(data-role='fieldcontain')
				fieldset(data-role='controlgroup')
					label(for='email_address') email
						input(id='email_address',type='text',value='',placeholder='@',name='email_address')
			div(data-role='fieldcontain')
				fieldset(data-role='controlgroup')
					label(for='email') Use Email?
						input(id='email',type='checkbox',value='True',name='email')
			div(data-role='fieldcontain')
				fieldset(data-role='controlgroup')
					label(for='phone_number') phone
						input(id='phone_number',type='text',value='',placeholder='(***)-***-***',name='phone_number')
			div(data-role='fieldcontain')
				fieldset(data-role='controlgroup')
					label(for='phone') Use Phone?
						input(id='phone',type='checkbox',value='True',name='phone')
			div(data-role='fieldcontain')
				fieldset(data-role='controlgroup')
					label(for='hashtag') twitter
						input(id='hashtag',type='text',value='',placeholder='#',name='hashtag')
			div(data-role='fieldcontain')
				fieldset(data-role='controlgroup')
					label(for='tweet') Use Twitter?
						input(id='tweet',type='checkbox',value='True',name='tweet')
			div(data-role='fieldcontain')
				input(type='submit',value='Submit',data-transition='fade',data-theme='c')
